{% extends 'house/base.html' %}

{% block content %}
    <div class="pagination center-block">
        <h3><span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-default" href="?page=1"><span title="Первая" class="glyphicon glyphicon-fast-backward"></span></a>
                <a class="btn btn-default" href="?page={{ page_obj.previous_page_number }}"><span title="Предыдущая" class="glyphicon glyphicon-backward"></span></a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a class="btn btn-default" href="?page={{ page_obj.next_page_number }}"><span title="Следующая" class="glyphicon glyphicon-forward"></span></a>
                <a class="btn btn-default" href="?page={{ page_obj.paginator.num_pages }}"><span title="Последняя" class="glyphicon glyphicon-fast-forward"></span></a>
            {% endif %}
        </span></h3>
    </div>
    {% if page_obj.object_list.count == 0 %}
        <h3>Помещения отсутствуют</h3>
    {% endif %}
    {% for premises in page_obj.object_list %}
        <div class="premises-detail">
            <h3>Помещение № {{ premises.PremisesNum }}</h3>
            <p><b>Подъезд:</b> {{ premises.Entrance|default_if_none:"Нет" }}<b>, Характеристика:</b> {{ premises.get_PremisesCharacteristic_display }}</p>
            <p>Кадастровый номер: {{ premises.CadastralNumber}}, Идентификатор в ГИС ЖКХ: {{premises.UniqueNumber}}</p>
            <p>Общая площадь: {{ premises.TotalArea|floatformat }} кв. м., Жилая площадь: {{ premises.GrossArea|floatformat }} кв. м.
                Комнат : {{LivingRoom.premises_set.all|length}}
            </p>
        </div>
    {% endfor %}
    <div class="pagination center-block">
        <h3><span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-default" href="?page=1"><span title="Первая" class="glyphicon glyphicon-fast-backward"></span></a>
                <a class="btn btn-default" href="?page={{ page_obj.previous_page_number }}"><span title="Предыдущая" class="glyphicon glyphicon-backward"></span></a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a class="btn btn-default" href="?page={{ page_obj.next_page_number }}"><span title="Следующая" class="glyphicon glyphicon-forward"></span></a>
                <a class="btn btn-default" href="?page={{ page_obj.paginator.num_pages }}"><span title="Последняя" class="glyphicon glyphicon-fast-forward"></span></a>
            {% endif %}
        </span></h3>
    </div>
{% endblock %}
{% block right_sidebar %}
    <h3><a class="btn btn-default" href="">Добавить помещение</a></h3>
{% endblock %}

