{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> -->
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">        
        <title>ИС Резидент</title>
        <link rel="stylesheet" href="{% static 'css/house.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <h2>Здравствуйте, {{ user.username }}</h2>
                <div class="top-menu"><a href="{% url 'logout' %}"><span title="Выход из системы" class="glyphicon glyphicon-log-out"></span></a></div>
                <a href="{% url 'house_new' %}" class="top-menu"><span title="Добавить дом" class="glyphicon glyphicon-plus"></span></a>
            {% else %}
                <p class="top-menu"><a href="{% url 'login' %}"><span title="Вход в систему" class="glyphicon glyphicon-log-in"></span></a></p>
            {% endif %}
            <h1><a href="/">Наши дома</a></h1>
        </div>
        <div class="content container-fluid">
            <div class="row">
                <div class="col-md-9">
                {% block content %}
                {% endblock %}
                </div>
                <div class="col-md-3 border">
                    <h3>Это - новая информационная система "Резидент" для ГБУ Жилищник района Гольяново</h3>
                    <br>
                    <h3>Полезные ссылки:</h3>
                    <br>
                    <h4><a href="http://xmlcalendar.ru/html.php?y=2021" target="_blank"> ПРОИЗВОДСТВЕННЫЙ КАЛЕНДАРЬ 2021</a></h4>
                </div>
        </div>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script> -->
    </body>
</html>